.hoverEffect {
  transition: all 0.2s cubic-bezier(0.5, 0.6, 0.8, 0.9);
}

.hoverEffect:hover {
  z-index: 15;
  transform: translateY(-4px) scale(1.01);
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
  background-color: white;
}
